.cardBody {
  text-align: center;
  padding: 20px;
}

img {
  height: 300px;
  width: 483px;
}

.jumbotron {
  text-align: center;
}

body {
  background-color: grey;
}

.card-group {
  margin: 50px;
}
