.cardBody {
  text-align: center;
  padding: 20px;
}

img {
  height: 300px;
  width: 483px;
}

.jumbotron {
  text-align: center;
}

body {
  background-color: grey;
}

.card-group {
  margin: 50px;
}

h6 {
  text-align: left;
}

.centre {
  background-color: white;
  text-align: center;
  margin: auto;
  width: 80%;
  border: 3px solid green;
  padding: 40px;
}

.img {
  display: block;
  margin: auto;
}

.heading {
  font-size: 28px;
  margin: 20px;
}

.mainP {
  font-size: 20px;
}

h6 {
  padding: 20px;
}

.card-group {
  border: 3px solid green;
}
