
<div class="container">
  <div class="jumbotron" style="text-align: center;">
    <h2>kwetu blog</h2>
    <p>a blog for everyone where you can find all the news</p>
    {{#link-to 'editor'}}
        <button class="btn" type="button" name="button"><strong>new article</strong></button>
    {{/link-to}}
  </div>
</div>
<div class="container">
  cccc
  {{#each model as |article|}}
{{article-tile article=article}}
{{/each}}
cccc

</div>
